@charset "UTF-8";

#order_header {
	width: 56.25rem;
	overflow: hidden;
}

.order_header_child {
	margin-bottom: 1rem;
	overflow: hidden;
	height: 2rem;
}

.order_header_content1 {
	position: relative;
	top: 1rem;
	font-weight: bold;
	width: 560px;
	float: left;
}

.order_header_content2 {
	position: relative;
	top: 1rem;
	font-weight: bold;
	float: left;
}

.order_content {
	float: left;
	width: 35rem;
	border-top: 1px solid #A59AF6;
	border-bottom: 1px solid #A59AF6;
	padding: 12px 0px;
	margin-right: 0.5rem;
}

.order_content_book_check {
	padding: 5px;
	overflow: hidden;
}

.order_content_book_main {
	float: left;
	width: 400px;
	margin-left: 1rem;
	padding-top: 1.3rem
}

.order_right_menu {
	float: left;
	width: 19.375rem;
	border: 0px solid black;
	box-sizing: border-box;
}

.order_right_menu_list {
	padding: 1rem 0.8rem;
	overflow: hidden;
	border: 1px solid #A59AF6;
	border-bottom-width: 0px;
}

.order_right_menu_list_point {
	margin-top: 6px;
	line-height: 32px;
}

.order_right_menu_count {
	padding: 1rem 1rem;
	text-align: center;
	background-color: #776bce;
	color: white;
}

.order_right_menu_paylist {
	overflow: hidden;
	padding-bottom: 0.7rem
}

.order_right_menu_paylist li {
	width: 130px;
	float: left;
	margin-left: 16px;
}

.order_right_menu_agree {
	margin: 8px 10px;
	font-weight: bold;
}

.order_right_menu_paybutton {
	padding: 1rem 1rem 1rem 1rem !important;
	width: 19.375rem;
	font-size: 1rem !important;
}

.menu_notice_tip li {
	list-style: square;
	font-size: 12px;
	margin: 10px auto;
	line-height: 16px;
	display: inherit;
}

.order_right_menu_pointintro {
	padding-top: 0.5rem;
}

.order_right_menu_lift {
	height: 100% !important;
	position: relative !important;
	top: -16px !important;
	left: 16px !important;
}

.font_11px {
	font-size: 11px
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}

.overflow_hidden {
	overflow: hidden;
}