/*
헤더부분
*/
.sh_board_reply_header {
	overflow: hidden;
}
.sh_search_button {
	float: right;
}
.sh_main_text {
	font-size: 2rem;
	color: #776BCE;
	background: white;
	padding: 2rem;
	text-align: center;
}


#sh_board_reply {
	margin: auto;
	border: 0px solid black;
	width: 57.5rem;
	text-align: center;
	line-height: 3rem;
}
.sh_board_reply_title ul{
	height: 35rem;
	border-top: 1px solid #887AEA;
	border-bottom: 1px solid #887AEA;
}
.sh_board_reply_title li{
	width :9rem;
	height : 3rem;
	float: left;	
}
.sh_board_reply_title li span{
	font-weight: bold;
}
.sh_board_reply_title li input{
	border:1px solid #A9A9A9;
	height: 2rem;
	font-size: 1rem;
	padding-left: 1rem;
}
.sh_board_reply_title li textarea{
	margin-top: 0.8rem;
	font-size: 1rem;
}
.sh_board_reply_title li select{
	width: 18.2rem;
	height: 2rem;
	text-align-last: center; 
}
.sh_board_reply_title li select option{
	text-align: center; 
}

.sh_board_reply_title li:nth-child(even) {
	width: 19.68rem;
}
.sh_board_reply_title li:nth-child(2),.sh_board_reply_title li:nth-child(12){
	width: 48.36rem;
}
.sh_board_reply_title li:nth-child(11),.sh_board_reply_title li:nth-child(12){
	height: 26rem;
}
.sh_board_reply_title li:nth-child(11){
	line-height: 25rem;
}
.sh_board_reply_click,.sh_board_member_click{
	float: right;
}
#sh_member_hidden{
	margin-left: 10rem;
	width: auto;
    border: none;
    background: none;
    padding: 0;
}
.sh_board_reply_text{
	margin: 12.8px 0px 0px;
    height: 380px;
    width: 750px;
    resize: none;
}
#sh_board_shadow{
	box-shadow: 0.1rem 0.1rem 0.4rem 0rem;
	 padding: 1rem;
    box-sizing: content-box;
    width: 58rem;
    border: 1px solid #776bce;
}



