@charset "UTF-8";
/**
 * @author 염현우
 * @date 2018. 1. 18.
 * 
 *	관리자 페이지 왼쪽 메뉴바  CSS
 */
#hw_menuWrapper{
	width: 11.25rem;
	min-height: 47rem;
}
#hw_menuWrapper > .accordion {
    background-color: #776bce2e;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 0.8rem;
    font-family: '나눔바른고딕';
    
}

/* Style the accordion panel. Note: hidden by default */
#hw_menuWrapper > .panel {
    background-color: white;
    display: none;
    border: 0px;
    margin-bottom: 0px;
}
#hw_menuWrapper > .panel a{
	display: block;
	padding: 0.8rem;
	padding-left: 2rem;
	color: #444;
	font-size: 0.7rem;
	background-color: #776bce2e;
	border-bottom: 1px solid #776bce2e;
}
#hw_menuWrapper > .panel a:hover{
	background-color: white;
	background-color: #776BCE;
    color: white;
}

#hw_menuWrapper .active,#hw_menuWrapper > .accordion:hover,.panel li > .active {
    background-color: #776BCE !important;
    color: white !important;
}