@charset "UTF-8";
/*
헤더부분
*/
.sh_review_header {
	overflow: hidden;
}

.sh_search_button {
	float: right;
}

.sh_main_text {
	font-size: 2rem;
	color: #776BCE;
	background: white;
	padding: 2rem;
	text-align: center;
}

/* 첫번째 선택부분 .sh_review_search  */
#sh_review {
	margin: auto;
	border: 0px solid black;
	width: 57.5rem;
}

.sh_review_search {
	border-top: 0px solid #776BCE;
	border-bottom: 1px solid #776BCE;
	width: 28.125rem;
	height: 7rem;
	float: left;
}

.sh_review_search li, .sh_review_date li {
	float: left;
	margin: 1rem 0rem 0rem 2rem;
}

.sh_review_date li:nth-child(2) {
	margin-left: 0rem;
}

.sh_review_search li:nth-child(1) {
	font-weight: bold;
}

.sh_review_search li:nth-child(2), .sh_review_search li:nth-child(3) {
	margin-left: 3rem;
}

.sh_review_search ul {
	height: 3.5rem;
	width: 23rem;
	margin-bottom: 0.2rem;
}

.sh_review_search ul:first-child {
	border-bottom: 1px solid #A59AF6;
}
/* 첫번째 선택부분 .sh_review_date  */
.sh_review_date {
	border-top: 0px solid #776BCE;
	border-bottom: 1px solid #776BCE;
	width: 29.25rem;
	height: 7rem;
	float: left;
}

.sh_review_date input {
	border: 1px solid #A59AF6;
	width: 8rem;
	height: 2rem;
	padding: 0.3rem;
	border-radius: 0.5rem;
	text-align: center;
}

.sh_review_date li:nth-child(3) {
	margin-left: 8rem;
}

.sh_review_date li:nth-child(4), .sh_review_date li:nth-child(5) {
	margin-left: 0.2rem;
}

.sh_review_date li:nth-child(6) {
	margin: 0px;
	float: right;
}

.sh_review_date li:nth-child(6) button {
	border-radius: 10px;
	padding: 2.2rem 2rem;
	font-size: 1rem;
	margin-top: -3rem;
}

.sh_review_select {
	float: right;
	margin-top: 1rem;
}

.sh_review_select select {
	width: 5rem;
	height: 1.5rem;
	border-radius: 1px;
}

/* 바디부분 */
.sh_review_content {
	margin: auto;
	border: 1px solid #A59AF6;
	width: 57.5rem;
}

.sh_review_title {
	border-bottom: 1px solid #A59AF6;
	height: 3rem;
	font-size: 1rem;
	background-color: #faf9fa;
	font-weight: bold;
}

.sh_review_title li:nth-child(7) {
	margin-left: 0.9rem;
}

.sh_review_content li {
	float: left;
	width: 5rem;
	margin-top: 1rem;
	text-align: center;
	height: 2rem;
}

.sh_review_content li:nth-child(1), .sh_review_content li:nth-child(2),
	.sh_review_list li:nth-child(7) {
	width: 1.5rem;
	margin-left: 1rem;
}

.sh_review_content li:nth-child(3), .sh_review_content li:nth-child(4) {
	width: 9.5rem;
}
.sh_review_content li:nth-child(1){
	margin-top: 0.7rem;
}
.sh_review_content ul {
	height: 4rem;
	border-bottom: 0px solid #776bce16;
}

.sh_review_list li {
	margin-top: 1.7rem;
	font-size: 0.9rem;
}
.sh_review_list li:nth-child(1){
	margin-top: 1.1rem;
}


.sh_review_list li:last-child {
	margin-top: 0.1rem;
}

.sh_review_list li:nth-child(7) {
	width: 4rem;
	margin-top: 0.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.jconfirm div.jconfirm-box {
	width: 20rem;
}
#sh_review_hidden{
	background-color: #c6befa;
	padding-top: 0.5rem;
	height: 4rem;
	font-size: 0.8rem;
	line-height: 1rem;
}
#sh_board_shadow{
	box-shadow: 0.1rem 0.1rem 0.4rem 0rem;

	 padding: 1rem;
    box-sizing: content-box;
    width: 58rem;
    border: 1px solid #776bce;
}
.sh_review_secret,.sh_review_open,.sh_review_delete{
	width: 4rem;
}
