@charset "UTF-8";

/**
 * 마이페이지 스타일 양식
 *
 * @author	박성호(최초작성)
 * @date	2018. 1. 18.
 * @description	마이페이지 템플릿에서 사용하는 스타일 양식
 */

/* My Ridi Style */
#myfactory-contents-box {
	width: 56.25rem;
	position: relative;
	clear: both;
	margin: 0 auto;
}

.myfactory-left-menu {
	float: left;
	width: 11.25rem;
	vertical-align: top;
	padding-bottom: 20rem;
}

.myfactory-contents-page {
	float: left;
	width: 45rem;
	padding-bottom: 5.625rem;
}
