@charset "UTF-8";

/* 대부분 리디포인트 것 사용 */

/* mypoint_history_table_body */
.mypoint_history_table_body{
	text-align: center;
    word-break: keep-all;
    color: #F3F0FA;
    border-bottom: solid 1px #FAF0FA;
    cursor: pointer;
}

.mypoint_history_table_body:hover{
	background-color: #FAF0FA;
}