@charset "UTF-8";
@font-face{
	font-family: '나눔바른고딕';
	src: url('../../font/NANUMBARUNGOTHIC.TTF');
}

/* Full-width input fields */
.hw_login_wrap input[type=text], .hw_login_wrap input[type=password] {
	width: 100%;
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid #d6deeb;
	box-sizing: border-box;
	background: #fff;
}

/* Set a style for all buttons */
.hw_login_button {
	background-color: #776BCE;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-weight: bolder;
}

.hw_login_button:hover {
	opacity: 0.8;
}

/* Center the image and position the close button */

.hw_login_container {
	padding: 24px;
	position: relative;
}
.hw_login_wrap{
	background-color: #F3F0FA;
	border-radius: 6px;
    box-sizing: border-box;
    width: 362px;
   	/* 5% from the top, 15% from the bottom and centered */
    margin: 5% auto 15% auto;
    font-family: '나눔바른고딕';
}
/* The Modal (background) */
.hw_login_modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	padding-top: 60px;
}

/* Modal Content/Box */
.hw_login_modal-content {
	width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.hw_login_close {
	position: absolute;
    right: 5px;
    top: 1px;
    color: #888;
    font-size: 18px;
    font-weight: bold;
}

.hw_login_close:hover, .hw_login_close:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */
.hw_animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}

.hw_remember{
	padding: 13px 8px 13px 16px;
    background: #fff;
    border: 1px solid #d6deeb;
    border-top: 0px;
    position: relative;
}
.hw_remember_text{
	font-size: 12px;
	color: #738096;
    letter-spacing: -.03em;
    position: absolute;
    top: 18px;
    cursor: pointer;
}
.hw_remember_text:hover{color: #1f8ce6;}
.hw_finder{
	text-decoration:none;
	color: #738096;
    letter-spacing: -.03em;
    font-size: 12px;
    padding: 0 6px;
    position: absolute;
    top: 18px;
    right: 85px;
}
.hw_finder:hover{color: #1f8ce6;}
.hw_finder:last-child {
	border-left: 1px solid #d6deeb;
	right: 3px;
}
.hw_rem_check{
	width: 17px;
    height: 17px;
    border: 1px solid #b6c1cb;
    background: #fff;
    overflow: hidden;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 2px 0 rgba(115,128,150,.2);
    cursor: pointer;
    position: relative;
    top: 2px;
    right: 4px;
}
.hw_go_signin{
    text-align: center;
    -webkit-transition: all .1s;
    transition: all .1s;
    color: #738096;
    font-size: 12px;
}
.container:last-child:hover {
	background-color: #d4e0f3;
}
.hw_sign_div{
	border-top: 1px solid #d6deeb;
	cursor: pointer;
}