@charset "UTF-8";
@font-face {
	font-family: '나눔바른고딕';
	src: url('../../font/NANUMBARUNGOTHIC.TTF');
}
@font-face {
	font-family: '주아체';
	src: url('../../font/BMJUA_ttf.ttf');
}
.hw_check_text:before{
	content: url("../../img/register/checkbox.png");
	top: 5px;
    left: 3px;
    position: relative;
    margin-right: 10px;
}
.hw_accheck:before{
	content: url("../../img/register/checkbox-black.png") !important;
	top: 5px;
    left: 3px;
    position: relative;
    margin-right: 10px;
}
.hw_check_text{
	font-family: '나눔바른고딕';
	font-weight: bold;
    font-size: 14px;
}

.hw_regihead_text{
	font-family: '주아체';
	font-size: 21px;
    position: relative;
    top: 11px;
    color: #776BCE;
}
/* Full-width input fields */
.sign_input{
	background-color:#fff;
    width: 100%;height: 100%;
    padding: 12px 20px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-bottom: 0px;
    box-sizing: border-box;
    font-family: '나눔바른고딕';
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/*signup buttons*/
.hw_signupbtn {
	width: 100%;
    padding: 15px;
    background-color: #887AEA;
    border: 0px;
    margin-top: 5px;
    border-radius: 4px;
    font-family: '나눔바른고딕';
    font-size:18px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}
.hw_signupbtn:hover{background-color: #776BCE;}
/* Add padding to container elements */
.hw_regi_container {
    padding: 16px;
}

/* The Modal (background) */
.hw_regi_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.hw_regi-content {
    width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.hw_regi_close {
	position: absolute;
    right: 3px;
    top: 3px;
    color: #776BCE;
    font-size: 25px;
    font-weight: bold;
}

.hw_regi_close:hover,
.hw_regi_close:focus {
    color: red;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

.hw_sign_email{
	margin:10px 0px 0px 0px;
	border-bottom: 1px solid #ccc;
}

.hw_sign_phone{
	border-top:0px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.hw_gender_label{
    display: block;
    text-align: center;
    height: 44px;
    line-height: 44px;
    font-weight: 400;
    font-size: 15px;
    color: #738096;
    -webkit-transition: all .1s;
    transition: all .1s;
    cursor: pointer;
    font-family: '나눔바른고딕';
    font-weight: bold;
}
.hw_selected{
	color: #303538;
    background: #ebf6ff;
}


.hw_gender_wrap{
	float: left;
    z-index: 1;
    position: relative;
    background: #fff;
    height: 46px;
    line-height: 0;
    overflow: hidden;
    box-shadow: none;
    width: 25%;
    border: 1px solid #ccc;
    border-left:0px;
    box-sizing: border-box;
}
.hw_birth_wrap{
	float: left;
    z-index: 1;
    position: relative;
    background: #fff;
    height: 46px;
    line-height: 0;
    overflow: hidden;
    box-shadow: none;
    width: 50%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.hw_gender_wrap input,.hw_birth_wrap input{
	border: 0px;
   	border-top: 0px solid #ccc;
    border-left: 0px;
/*     border-bottom: 1px solid #ccc; */
/*     border-right: 1px solid #ccc; */
}
.hw_gender_wrap input[type=radio]{
	position: absolute;
    left: -9999px;
}
.hw_list_wrapper{
	position: relative;
}

.hw_agreement_wrapper{
margin-top: 10px;
    background: #fff;
    border: 1px solid #d6deeb;
    border-radius: 4px;
}
.hw_agreement_wrapper ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.hw_checkbox_wrap{ 
	position: relative;
    padding: 4px;
    height: 30px;
    cursor: pointer;
    color: gray;
    display: block;
}
.hw_checkbox_wrap:hover{
	color: black;
}
.hw_checkbox_wrap:first-child {
	border-bottom: 1px solid #d6deeb;
    margin-bottom: 5px;
}
.hw_checkbox_wrap:last-child {
	margin-bottom: 5px;
}
.hw_confirm_checkbox{
	display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: -100px;
    top: 0;
    opacity: 0;
}
.other_data{overflow: hidden;}
/* Add Zoom Animation */
.hw_animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}

.hw_register_wrap{
	background-color: #F3F0FA;
	border-radius: 6px;
    box-sizing: border-box;
    width: 362px;
   	/* 5% from the top, 15% from the bottom and centered */
    margin: 5% auto 15% auto;
    font-family: '나눔바른고딕';
}
.hw_regi_header{position:relative;}

.hw_gender_select{
	background-color: #887AEA;
	color: white;
}
